{
  "discord": {
    "token": "Your Discord Bot Token",
    "prefix": "Set prefix",
    "admin_role": "Administrator",
    "mod_role": "Moderator",
  },
  "database": {
    "host": "host",
    "user": "user",
    "password": "secretpassword",
    "database": "database"
  },
  "openai": {
  	"openai_key": "openai api key"
  },
  "dirs": {
    "images_dir": "directory for images",
    "config_dir": "config directory"
    "ultra_dir": "ultra bot files"
  }
}
